{% extends "mover/map_base.html" %}
{% load static %}

{% block title %}
<title>Ready to Move</title>
<style>
    div.driver-item-list p {
        line-height: 0.5em;
        font-size: 14px;
        color: #333333;
    }

    div.hoverable:hover {
        background-color: #E0F0EE;
        padding: 2px;
    }

    div.driver-detail-card {
        padding: 50px;
    }
</style>
{% endblock title %}

{% block cardRight %}
<div class="driver-detail-card">
    <h3 class="fw-900" style="font-size: 40px;font-weight: 800;">Get ready to move!</h3>
    <p class="fw-bold">Your driver is arriving in <span style="color: #12B76A;">4 minutes.</span></p>
    <p class="fw-bold">You can reach your driver on <span> {{vehicle.driver.phone_number}} </span></p>
    <p> </p>
    <div class="d-flex flex-row gap-2">
        <img src="{{ profile_picture.url }}" alt="" width="64px" height="64px" class="rounded-circle">
        <div class="driver-item-list">
            <p><b>{{ vehicle.driver.get_full_name }} </b>
                <i class="fas fa-check-circle" style="color: #24f061;"></i>
            </p>
            <p>{{ vehicle.get_vehicle_full_name }} </p>

            {% if booking.rate_type == "FX" %}
                <p style="color: #104333;" class="fw-bold">${{ user.fixed_amount }} / Fixed</p>
                {% else %}
                <p style="color: #104333;" class="fw-bold">${{ user.hourly_amount }} / Hour</p>
            {% endif %}
        </div>
    </div>
    <div class="driver-item-list p-2 hoverable">
        <div>
            <img src="{{ booking.photo.url }}" alt="" width="100%" height="236px" class="rounded">
        </div>
        <p class="mt-2"><b>Details</b></p>
        <p><b>Pick-up location: </b>{{ booking.pickup_location }} </p>
        <p><b>Destination: </b>{{ booking.pickup_location }} </p>
        <p><b>Items: </b>{{ booking.selected_item }}  items</p>
        <p><b>Service: </b>{{ booking.service_type }}, {{ booking.handle_loading }} </p>
        <p class="text-sm" style="font-size: 12px;"><b>Note: </b> {{ booking.note }} </p>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3">
        <button class="btn btn-outline fw-bold text-uppercase" style="color: #104333;">Cancel Trip</button>
    </div>
</div>
{% endblock cardRight %}