{% extends "mover/map_base.html" %}
{% load static %}

{% block title %}
<title>Select Mover</title>
<style>
    .mover-request-list p {
        line-height: 0.5em;
        font-size: 14px;
    }

    div.driver-accept-list:hover {
        background-color: #E0F0EE;
    }
</style>
{% endblock title %}

{% block cardRight %}


<div>
    <h3>Select Mover</h3>
    <div class="row mb-4">
        {% for vehicle in available_vehicles %}

        <div class="col driver-accept-list mover-card-variant py-2">
            <div class="d-flex flex-row gap-2 justify-content-between">
                <div class="d-flex flex-row gap-2">
                    <div>
                        <img src="{{ vehicle.vehicle_photo.url }}" alt="" width="174px" height="106px" class="rounded">
                    </div>

                    <div class="mover-card-para">
                        <p><b> {{ vehicle.make }} {{ vehicle.model }} {{ vehicle.year }}</b></p>
                        <p style="color: #104333;"><b>$25.00/Total</b></p>
                        <p style="color: #4A4A68;">4 minutes away</p>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <a href="{% url 'ready_to_move_customer' vehicle.id tracking_id %}" class="btn mx-2"
                        style="background-color: #104333; color: white">Select Mover</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div>There are currently no available vehicles. Please bear with us...</div>
        {% endfor %}
    </div>
</div>

{% endblock cardRight %}