[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jazzmin = "*"
django-browser-reload = "*"
pillow = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
