{% extends "mover/index.html" %}
{% load static %}
{% block title %}
<style>
    /* div.driver-onboarding-panel > div{
            margin-bottom: 1em;
        } */
</style>
{% endblock title %}

{% block content %}

<!-- Step 1 -->

<div style="margin: 100px;" class="driver-onboarding-panel d-flex flex-lg-row flex-sm-column gap-4">
    <div class="driver-onboard-left bg-red">
        <div class="progress mb-4">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 10%; background-color: #104333;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <p class="fw-bold">Step 1: Create account</p>
        <p>Step 2. Document Verification</p>
        <p>Step 3. Vehicle Information</p>
        <p>Step 4. Application Status</p>
    </div>
    <form class="driver-onboard-right d-flex flex-column gap-4" method="POST" enctype="multipart/form-data"
        action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form.errors }}
        <h3>Step 1: Create account</h3>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">First Name</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="First Name"> -->
                    {{ form.first_name }}
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Last Name</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="Last Name"> -->
                    {{ form.last_name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Email Address</label>
                    <!-- <input type="email" name="firstname" id="" placeholder="Email Address"> -->
                    {{ form.email }}
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Phone Number</label>
                    <!-- <input type="tel" name="firstname" id="" placeholder="Phone Number"> -->
                    {{ form.phone_number }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column">
                    <label for="">Password</label>
                    <!-- <input type="password" name="" id="" placeholder="Password"> -->
                    {{ form.password1 }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column">
                    <label for="">Confirm Password</label>
                    <!-- <input type="password" name="" id="" placeholder="Password"> -->
                    {{ form.password2 }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column">
                    <label for="">Upload a Profile Photo</label>
                    <!-- <input type="file" name="" id=""> -->
                    {{ form.profile_picture }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100" type="submit">Continue</button>
            </div>
        </div>
    </form>

</div>

{% endblock content %}