{% extends "mover/index.html" %}

{% block title %}
<title>Fulfilled Requests</title>
{% endblock title %}

{% block content %}
<div class="color-primary-50 p-3" style="margin: 7em; color: black;">
    <div class="row">
        <div class="col">
            {% for booking in fulfilled_bookings %}
            <div class="driver-accept-list p-2">
                <div class="d-flex flex-row gap-2 justify-content-between">
                    <div class="d-flex flex-row gap-2">
                        <div>
                            <img src="{{ booking.photo.url }}" alt="" width=" 174px" height="106px" class="rounded">
                        </div>
                        <div class="mover-request-list">
                            <p><b>{{ booking.selected_item }} Items </b></p>
                            <p style="color: #104333;" class="text-uppercase fw-bold">{{ booking.service_type }}</p>
                            <p>
                                <b style="color: #4A4A68;">Pick-up location:</b>
                                {{ booking.pickup_location }}
                            </p>
                            <p><b style="color: #4A4A68;">Est. driving distance:</b> 20 min</p>
                            <p>Note: {{ booking.note|truncatechars:28 }} </p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        {% if booking.rate_type == "FX" %}
                        <p class="mb-2">${{ user.fixed_amount }} / Fixed</p>
                        {% else %}
                        <p class="mb-2">${{ user.hourly_amount }} / Hourly</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- If the bookings s empty show below -->
            {% empty %}
            <div>
                You haven't fulfilled a single order yet. Check your mail or visit
                the request page to see customer requests.
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}