{% extends "mover/index.html" %}
{% load static %}
{% block title %}
    <style>
        /* div.driver-onboarding-panel > div{
            margin-bottom: 1em;
        } */
    </style>
{% endblock title %}

{% block content %}

<div style="margin: 100px;" class="driver-onboarding-panel d-flex flex-lg-row flex-sm-column gap-4">
    <div class="driver-onboard-left">
        <div class="progress mb-4">
            <div class="progress-bar progress-bar-striped progress-bar-animated" 
            role="progressbar" style="width: 80%; background-color: #104333;" 
            aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <p>Step 1: Create account</p>
        <p><a href="{% url 'document_verification' %}" 
            class="text-decoration-none text-dark mover-onboarding-links">Step 2. Document Verification</a>
        </p>
        <p class="fw-bold"><a href="{% url 'vehicle_information' %}" 
            class="text-decoration-none text-dark mover-onboarding-links">Step 3. Vehicle Information </a>
        </p>
        <p><a href="{% url 'application_status' %}" 
            class="text-decoration-none text-dark mover-onboarding-links">Step 4. Application Status </a>
        </p>
    </div>
    <form class="driver-onboard-right d-flex flex-column gap-4" method="POST" 
        enctype="multipart/form-data" action="{% url 'vehicle_information' %}">
        {% csrf_token %}
        <h3>Step 3: Vehicle Information</h3>
        {{ form.errors }}
        <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="d-flex flex-column">
                <label for="">License Plate #</label>
                <!-- <input type="text" name="firstname" id="" placeholder="License Plate #"> -->
                {{ form.license_plate }}
              </div>  
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Year</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="Year"> -->
                    {{ form.year }}
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="d-flex flex-column">
                <label for="">Make</label>
                <!-- <input type="text" name="firstname" id="" placeholder="Email Address"> -->
                {{ form.make }}
              </div>  
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Model</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="Phone Number"> -->
                    {{ form.model }}
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="d-flex flex-column">
                <label for="">Vehicle Photo</label>
                <!-- <input type="text" name="firstname" id="" placeholder="Email Address"> -->
                {{ form.vehicle_photo }}
              </div>  
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="d-flex flex-column">
                    <label for="">Vehicle Insurance</label>
                    <!-- <input type="text" name="firstname" id="" placeholder="Phone Number"> -->
                    {{ form.vehicle_insurance }}
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100">Submit For Verification</button>
            </div>
        </div>
    </form>

</div>

{% endblock content %}
