{% extends "mover/index.html" %}
{% load static %}
{% block title %}
<title>Accept Request</title>
{% endblock title %}

{% block style %}
{% endblock style %}

{% block content %}
<div class="">
    <div class="row">
        <div class="col-lg-6 col-sm-12 mb-sm-2 col-md-12 pt-3">
            {% block cardRight %}
            {% endblock cardRight %}
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12" style="min-height: 600px;">
            <!-- <div id="myMap" style="position:relative;width:100%;height:100%;"></div> -->
            <div id="myMap" style="position:relative;width:100%;height:100%;"></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}

<script>
    var map;
    var directionsManager;

    function GetMap() {
        map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'Aq8PnSeraxCE7_Otau4MHHbOBp9ZG4htMjXoXto8n8xtt1iyHlG2SZDigxz27riR',
            center: new Microsoft.Maps.Location(37.7749, -122.4194), // Default map center (San Francisco)
            zoom: 12 // Default zoom level
        });
        // Load from local storage

        const pickup = localStorage.getItem("pickup_location")
        const dropoff = localStorage.getItem("dropoff_location")

        console.log(pickup, dropoff)
        // Load the directions module.
        Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
            // Create an instance of the directions manager.
            directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);

            // Create waypoints to route between.
            var wayPoint1 = new Microsoft.Maps.Directions.Waypoint({ address: pickup });
            var wayPoint2 = new Microsoft.Maps.Directions.Waypoint({ address: dropoff });

            // Add waypoints to the directions manager.
            directionsManager.addWaypoint(wayPoint1);
            directionsManager.addWaypoint(wayPoint2);

            // Specify the element in which the itinerary will be rendered.
            directionsManager.setRenderOptions({ itineraryContainer: '#directionsItinerary' });

            // Calculate directions.
            directionsManager.calculateDirections();
        });
    }

</script>

{% endblock script %}